{% extends "base.html" %}
{% block title %}
    Change Password
{% endblock %}
{% block nav_extra %}
    <li>
        <a href="/admin/logout">Log out</a>
    </li>
{% endblock %}
{% block content %}
    <div class="auth-page">
        <article>
            <header>
                <hgroup>
                    <h2>Change Password</h2>
                    <p>An administrator requires you to set a new password before continuing.</p>
                </hgroup>
            </header>
            {% if let Some(err) = error %}
                <div class="flash error">{{ err }}</div>
            {% endif %}
            <form method="POST" action="/admin/change-password">
                <label for="new_password">
                    New Password
                    <input
                        type="password"
                        id="new_password"
                        name="new_password"
                        placeholder="At least 8 characters"
                        autocomplete="new-password"
                        minlength="8"
                        autofocus
                        required
                    />
                </label>
                <label for="new_password_confirm">
                    Confirm New Password
                    <input
                        type="password"
                        id="new_password_confirm"
                        name="new_password_confirm"
                        placeholder="Re-enter your new password"
                        autocomplete="new-password"
                        minlength="8"
                        required
                    />
                </label>
                <button type="submit">Set New Password</button>
            </form>
        </article>
    </div>
{% endblock %}
