# fly.toml app configuration file generated for linkly-c4k4tg on 2026-02-24T11:07:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'linkly-c4k4tg'
primary_region = 'ams'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
